// # Masthead
//
// Inherits from the Jumbotron module
//
// Styleguide Modules.Masthead

.masthead {
  color: #fff;
  background-color: @brand-primary;
  background-image: linear-gradient(@brand-primary, darken(@brand-primary, 2%));

  h1,
  .h1 {
    font-size: @font-size-h1;
  }

  > .container {
    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  .navbar + & {
    margin-top: -@navbar-margin-bottom;
  }
}
