// # Navbar
//
// Styleguide Modules.Navbar

.navbar-brand {
  font-size: 24px;
  font-weight: 300;

  .logo {
    display: inline-block;
    margin-top: -((40px - @line-height-computed) / 2);
    margin-right: 10px;
    vertical-align: top;
  }
}

.navbar-form {
  .form-control {
    &,
    &:focus {
      border-color: transparent;
    }
  }
}
