//
// # Table of Contents
//
// No styleguide reference.

.toc-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 230px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 13px;
  font-weight: bold;
  background-color: #f5f5f5;
  border-right: #ddd solid 1px;

  h3 {
    padding: 0 15px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 24px;
  }

  ul,
  li {
    padding: 0;
    margin: 0;
    line-height: 30px;
    list-style: none;
  }

  li {
    a {
      display: block;
      padding: 0 15px;
      overflow-x: hidden;
      white-space: nowrap;
      text-decoration: none;
      text-overflow: ellipsis;
    }
  }

  ul ul {
    display: none;

    li a {
      padding-left: 25px;
      font-size: 13px;
      font-weight: 400;
    }

    .active > a {
      background-color: lighten(#2467af, 15%);
    }

    ul {
      li a {
        padding-left: 35px;
        font-size: 12px;
      }

      .active > a {
        background-color: lighten(#2467af, 25%);
      }
    }
  }

  .active {
    > a {
      color: #fff;
      background-color: #2467af;
    }

    > ul {
      display: block;
    }
  }

  .toc {
    margin-bottom: 20px;
  }
}

.toc-anchor {
  display: inline-block;
  min-width: 1em;
  margin-left: 10px;
  cursor: pointer;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  .toc-anchor {
    opacity: 0;
  }

  &:hover .toc-anchor {
    opacity: 1;
  }
}
