//
// # Typography
//
// No styleguide reference.

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.2;
  color: #444;
}

.markdown-body {
  line-height: 1.7;
  word-wrap: break-word;

  > *:first-child {
    margin-top: 0 !important;
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }

  h1, h2, h3, h4, h5, h6 {
    position: relative;
    margin: 1em 0 15px;
    font-weight: bold;
    line-height: 1.7;
    cursor: text;
  }

  p,
  blockquote,
  ul,
  ol,
  dl,
  table,
  pre {
    margin: 15px 0
  }

  code {
    padding: 3px;
    font-size: 12px;
    font-family: Menlo, Consolas, monospace;
    background-color: rgba(#000,.05);
    border-radius: 3px;
  }

  pre > code {
    padding: 0;
    margin: 0;
    white-space: pre;
    border: none;
    background: transparent;
  }

  table {
    width: 100%;
  }

  table tr:last-child {
    border-bottom: 1px solid #eee;
  }

  table td {
    padding: 10px 0;
  }

  table th {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
  }

  table th,
  table td {
    text-align: left;
    vertical-align: top;
    line-height: 1.6;
    padding-right: 20px;

    &:last-child {
      padding-right: 0;
    }
  }
}
