<div id="search-docs" class="dropdown{{hasResults ? ' open' : ' closed'}}" role="search">
  <div class="form-group">
    <input v-on="input:search" class="form-control" id="docs-search" type="text" title="Search the documentation" placeholder="Search">
  </div>
  <ul class="dropdown-menu dropdown-search-results">
    <li v-repeat="results">
      <a href="{{url}}">
        <span class="title">{{title}}</span>
        <span class="categories">{{categories.join(' / ')}}</span>
      </a>
    </li>
  </ul>
</div>
