//
// # Scaffolding
//
// No styleguide reference.

* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}

html,
body {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: (20px / 14px);
  color: #444;
}

a {
  color: #4183c4;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #156cc2;
    text-decoration: none;
  }
}

.page-wrapper {
  position: relative;
  padding: 30px;
  margin-left: 230px;
}

.content {
  h2 {
    padding: 30px 30px 0;
    margin: 60px -30px 15px !important;
    border-top: #ddd solid 1px;

    &:first-child {
      margin-top: -30px !important;
      border-top: 0;
    }
  }
}
